.mobile_container {
  .reason-section {
    min-height: 420px;
  
    .title {
      text-align: center;
      font-style: normal;
  
      &__content {
        margin-top: 64px;
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
      }
  
      &__note {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }
  
    .main-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      .content_item {
        flex: 1;
        min-width: 356px;
        margin: 0 40px;
        text-align: center;
  
        .item_img {
          margin-bottom: 10px;
  
        }
  
        .item_title {
          margin-bottom: 10px;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
        }
  
        .item_content {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #70707B;
        }
      }
    }
  }
}