<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
  <div id="_desktop" class="desktop_container">
    <%= require('html-loader!./components/desktop/header.html').default %>
    <%= require('html-loader!./components/desktop/discovery.html').default %>
    <%= require('html-loader!./components/desktop/reason.html').default %>
    <%= require('html-loader!./components/desktop/trading.html').default %>
    <%= require('html-loader!./components/desktop/footer.html').default %>
  </div>
  <div id="_mobile" class="mobile_container">
    <%= require('html-loader!./components/mobile/header.html').default %>
    <%= require('html-loader!./components/mobile/discovery.html').default %>
    <%= require('html-loader!./components/mobile/reason.html').default %>
    <%= require('html-loader!./components/mobile/trading.html').default %>
    <%= require('html-loader!./components/mobile/footer.html').default %>
  </div>
</body>
<script src='../dist/bundle.js'></script>

</html>