<div class="reason-section container">
  <div class="title">
    <div class="title__content">Tại sao chọn VinEx?</div>
    <div class="title__note">
      Chúng tôi cung cấp cho bạn sự an toàn, hiệu quả và đa dạng.
    </div>
  </div>
  <div class="main-content">
    <div class="content_item" v-for="item in reasonList">
      <div class="item_img">
        <img :src="item.imgSrc"/>
      </div>
      <div class="item_title">
        {{ item.title }}
      </div>
      <div class="item_content">
        {{ item.content }}
      </div>
    </div>
  </div>
</div>